--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.bit.ly/shorten?apiKey=<BITLY_KEY>&login=arossoc&longUrl=http://127.0.0.1:57556/articles/view/1466-House-Dems-take-on-Wall-Street-Bonuses
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"57f1f43314f868ec6dd816839010840abf696e4a\""
    body: 
      encoding: US-ASCII
      string: "{\"errorCode\": 500, \"errorMessage\": \"INVALID_LOGIN\", \"results\": null, \"statusCode\": \"\"}"
  recorded_at: Mon, 20 May 2013 20:10:16 GMT
- request: 
    method: post
    uri: http://api.defensio.com/2.0/users/<DEFENSIO_KEY>/documents.json
    body: 
      encoding: US-ASCII
      string: client=Defender%20%7C%202.0.3%20%7C%20Henrik%20Hodne%20%7C%20dvyjones%40binaryhex.com&content=blah%20blah%20blah&author-name=xyzxyz123123&author-email=dshettler-xyzxyz123123%40gmail.com&author-ip=127.0.0.1&author-url=&platform=ruby&type=comment
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"32e2f03f113eca34c7beb9ff3778cc32\""
      Status: 
      - "200"
    body: 
      encoding: US-ASCII
      string: "{\"defensio-result\":{\"status\":\"success\",\"message\":\"\",\"api-version\":\"2.0\",\"signature\":\"d17976d4d17190e2823808\",\"allow\":true,\"spaminess\":0.2,\"classification\":\"legitimate\",\"profanity-match\":false}}"
  recorded_at: Mon, 20 May 2013 20:10:17 GMT
[...]
- request: 
    method: get
    uri: http://api.bit.ly/shorten?apiKey=<BITLY_KEY>&login=arossoc&longUrl=http://127.0.0.1:57772/articles/view/1466-House-Dems-take-on-Wall-Street-Bonuses
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"57f1f43314f868ec6dd816839010840abf696e4a\""
    body: 
      encoding: US-ASCII
      string: "{\"errorCode\": 500, \"errorMessage\": \"INVALID_LOGIN\", \"results\": null, \"statusCode\": \"\"}"
  recorded_at: Mon, 20 May 2013 20:37:26 GMT
recorded_with: VCR 2.4.0
