--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.bit.ly/shorten?apiKey=<BITLY_KEY>&login=arossoc&longUrl=http://127.0.0.1:57556/articles/view/1466-House-Dems-take-on-Wall-Street-Bonuses
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"57f1f43314f868ec6dd816839010840abf696e4a\""
    body: 
      encoding: US-ASCII
      string: "{\"errorCode\": 500, \"errorMessage\": \"INVALID_LOGIN\", \"results\": null, \"statusCode\": \"\"}"
  recorded_at: Mon, 20 May 2013 20:10:16 GMT
- request: 
    method: post
    uri: http://api.defensio.com/2.0/users/<DEFENSIO_KEY>/documents.json
    body: 
      encoding: US-ASCII
      string: client=Defender%20%7C%202.0.3%20%7C%20Henrik%20Hodne%20%7C%20dvyjones%40binaryhex.com&content=blah%20blah%20blah&author-name=xyzxyz123123&author-email=dshettler-xyzxyz123123%40gmail.com&author-ip=127.0.0.1&author-url=&platform=ruby&type=comment
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"32e2f03f113eca34c7beb9ff3778cc32\""
      Status: 
      - "200"
    body: 
      encoding: US-ASCII
      string: "{\"defensio-result\":{\"status\":\"success\",\"message\":\"\",\"api-version\":\"2.0\",\"signature\":\"d17976d4d17190e2823808\",\"allow\":true,\"spaminess\":0.2,\"classification\":\"legitimate\",\"profanity-match\":false}}"
  recorded_at: Mon, 20 May 2013 20:10:17 GMT
[...]
- request: 
    method: post
    uri: http://<AKISMET_KEY>.rest.akismet.com/1.1/comment-check
    body: 
      encoding: US-ASCII
      string: comment_author=xyzxyz123123&comment_author_email=dshettler-xyzxyz123123%40gmail.com&comment_content=blah+blah+blah&user_ip=127.0.0.1&user_agent=Mozilla%2F5.0+%28Macintosh%3B+Intel+Mac+OS+X%29+AppleWebKit%2F534.34+%28KHTML%2C+like+Gecko%29+PhantomJS%2F1.9.0+Safari%2F534.34&referrer=http%3A%2F%2F127.0.0.1%3A53008%2Farticles%2Fview%2F1466-House-Dems-take-on-Wall-Street-Bonuses&comment_type=comment&blog=http%3A%2F%2Fwww.opencongress.org%2F&is_test=1
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/plain; charset=utf-8
      X-Akismet-Server: 
      - 192.168.7.150
      X-Akismet-Guid: 
      - fe6d128a9167d545d6180470851ce40a
    body: 
      encoding: US-ASCII
      string: "false"
  recorded_at: Fri, 12 Jul 2013 20:15:16 GMT
[...]
- request: 
    method: post
    uri: http://<AKISMET_KEY>.rest.akismet.com/1.1/comment-check
    body: 
      encoding: US-ASCII
      string: comment_author=xyzxyz123123&comment_author_email=dshettler-xyzxyz123123%40gmail.com&comment_content=blah+blah+blah&user_ip=127.0.0.1&user_agent=Mozilla%2F5.0+%28Macintosh%3B+Intel+Mac+OS+X%29+AppleWebKit%2F534.34+%28KHTML%2C+like+Gecko%29+PhantomJS%2F1.9.0+Safari%2F534.34&referrer=http%3A%2F%2F127.0.0.1%3A53008%2Farticles%2Fview%2F1466-House-Dems-take-on-Wall-Street-Bonuses&comment_type=comment&blog=http%3A%2F%2Fwww.opencongress.org%2F&is_test=1
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/plain; charset=utf-8
      X-Akismet-Server: 
      - 192.168.7.150
      X-Akismet-Guid: 
      - fe6d128a9167d545d6180470851ce40a
    body: 
      encoding: US-ASCII
      string: "false"
  recorded_at: Fri, 12 Jul 2013 20:15:16 GMT
recorded_with: VCR 2.5.0
