**.DS_Store
log/*.log
tmp/**/*
tmp/*
data/*
config/api_keys.yml
config/application_settings.yml
config/database.yml
config/solr.yml
coverage
db/cucumber_structure.sql
db/development_structure.sql
db/schema.rb
public/assets/*
public/system/*
public/images/users/*
public/robots.txt
public/images/photos
vendor/plugins/acts_as_solr/solr/tmp/*
vendor/plugins/acts_as_solr/solr/solr/data/**/*
vendor/plugins/acts_as_solr/solr/logs/*
Vagrantfile
.bundle
.vagrant
.*.swp
.sass-cache/
TAGS
*.sqlite3
helium.json
sendhelium
