---
http_interactions:
- request:
    method: get
    uri: http://api.smartystreets.com/street-address?auth-id=<SMARTY_STREETS_ID>&auth-token=<SMARTY_STREETS_TOKEN>&street=2901%20Angus%20St.,%2090039
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        [{"input_index":0,"candidate_index":0,"delivery_line_1":"2901 Angus St","last_line":"Los Angeles CA 90039-2632","delivery_point_barcode":"900392632015","components":{"primary_number":"2901","street_name":"Angus","street_suffix":"St","city_name":"Los Angeles","state_abbreviation":"CA","zipcode":"90039","plus4_code":"2632","delivery_point":"01","delivery_point_check_digit":"5"},"metadata":{"record_type":"S","zip_type":"Standard","county_fips":"06037","county_name":"Los Angeles","carrier_route":"C036","congressional_district":"28","rdi":"Residential","elot_sequence":"0016","elot_sort":"A","latitude":34.10748,"longitude":-118.26986,"precision":"Zip9","time_zone":"Pacific","utc_offset":-8.0,"dst":true},"analysis":{"dpv_match_code":"Y","dpv_footnotes":"AABB","dpv_cmra":"N","dpv_vacant":"N","active":"Y","footnotes":"N#"}}]
  recorded_at: Wed, 08 Oct 2014 16:45:53 GMT
- request:
    method: get
    uri: https://congress.api.sunlightfoundation.com/districts/locate?latitude=34.10748&longitude=-118.26986
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - "<SUNLIGHT_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"results":[{"state":"CA","district":28}],"count":1}'
  recorded_at: Wed, 08 Oct 2014 16:45:53 GMT
recorded_with: VCR 2.9.2
