---
http_interactions:
- request:
    method: get
    uri: https://congress.api.sunlightfoundation.com/districts/locate?zip=22204
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - "<SUNLIGHT_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"results":[{"state":"VA","district":8}],"count":1}'
  recorded_at: Tue, 07 Oct 2014 15:54:31 GMT
recorded_with: VCR 2.9.2
