--- 
http_interactions: 
- request: 
    method: get
    uri: http://congress.api.sunlightfoundation.com/districts/locate?apikey=<SUNLIGHT_KEY>&zip=22204
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
    body: 
      encoding: US-ASCII
      string: "{\"results\":[{\"state\":\"VA\",\"district\":8}],\"count\":1}"
  recorded_at: Mon, 20 May 2013 20:10:14 GMT
recorded_with: VCR 2.4.0
