<div id="heading">
<% if @person_type == :senators %> 

 <h2>Senators</h2>
 <p>Find information about the lawmakers currently serving in the U.S. Senate and explore their profiles on OpenCongress.</p>

<% else %>
 <h2>Representatives</h2>
 <p>Find information about the lawmakers currently serving in the House of Representatives and explore their profiles on OpenCongress.</p>
<% end %>

<a href="#" id="view_button"><span>Change View</span></a> 
<script type="text/javascript">
$(document).ready(function(){

 $("#view_button").toggle(function(){
 $(this).addClass("swap");
 $("#views").fadeOut("fast", function() {
 $(this).fadeIn("fast").addClass("wide");
 });
 }, function () {
 $(this).removeClass("swap");
 $("#views").fadeOut("fast", function() {
 $(this).fadeIn("fast").removeClass("wide");
 });
 });

});              
</script>

</div>
