=# hidden_field_tag 'from_bookmarklet', from_bookmarklet
= f.hidden_field :group_user_id, :value => current_user.id if @group and logged_in?
= f.submit "Add", :class => "medium button blue add-button"
= link_to 'Cancel', '#', :class => 'button medium silver close_add_notebook'
= image_tag 'spinner-ovals.gif', :class => 'add-spinner', :style => 'display: none;'

:javascript
  $('.add-button').click(function() {
    $('.add-spinner').show();
  });