<style>
.pretty-text h2 {
    margin-top:10px;
}
label, input[type=text] {
   float:none;
   display: inline-block;
   margin-bottom: 10px;
}
input[type=text] {
    width: 200px;
}
.control-label {
   width: 100px;
   /*text-align: right;*/
   margin-right:5px;
}
.control-label.required:after {
   content: "*";
   color:#900;
}
.button {
    margin-top: 20px;
   width:325px;
}
</style>
<div class="padding pretty-text container_16">
<div class="row clearfix" style="padding-bottom:60px;">
    <div class="grid_7 prefix_1 alpha">
        <img src="<%= asset_path("refresh-plain.png") %>" alt="A Refreshed OpenCongress is Coming.">
        <div class="offscreen">
            <h2>Coming fall 2013: A Refreshed Opencongress</h2>
            <p>We're optimizing opencongress to improve your experience. Thanks to our loyal users for your patience as we improve your trusted source for keeping tabs on Congress.</p>
            <p><strong>Be the first to know when we're ready to unveil a refreshed OpenCongress.</strong></p>
        </div>
    </div>
    <div class="grid_7 prefix_1 omega">
        <h2>Sign up to be notified:</h2>
        <small>Fields marked with an asterisk (*) are required.</small>
        <br/><br/>
        <%= render :partial => 'shared/email_subscribe_form' %>
   </div>
</div>