--- 
http_interactions: 
- request: 
    method: get
    uri: http://congress.api.sunlightfoundation.com/districts/locate?apikey=<SUNLIGHT_KEY>&zip=90039
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 200 OK
    body: 
      encoding: US-ASCII
      string: "{\"results\":[{\"state\":\"CA\",\"district\":28}],\"count\":1}"
  recorded_at: Mon, 20 May 2013 20:07:46 GMT
- request: 
    method: post
    uri: http://api.defensio.com/2.0/users/<DEFENSIO_KEY>/documents.json
    body: 
      encoding: US-ASCII
      string: client=Defender%20%7C%202.0.3%20%7C%20Henrik%20Hodne%20%7C%20dvyjones%40binaryhex.com&content=%5Binnocent%2C0.25%5D%20But%20behind%20the%20public%20pronouncements%2C%20American%20officials%20described%20a%20growing%20concern%2C%20even%20at%20the%20highest%20levels%20of%20the%20Obama%20administration%20and%20Pentagon%2C%20about%20the%20challenges%20of%20pulling%20off%20a%20troop%20withdrawal%20in%20Afghanistan%20that%20hinges%20on%20the%20close%20mentoring%20and%20training%20of%20army%20and%20police%20forces.&author-name=commenttest&author-email=commenttest%40opencongress.org&author-ip=&author-url=&platform=ruby&type=test
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"847b6fc81d91ba2b0a033a5928892eb9\""
      Status: 
      - "200"
    body: 
      encoding: US-ASCII
      string: "{\"defensio-result\":{\"status\":\"success\",\"message\":\"\",\"api-version\":\"2.0\",\"signature\":\"e84497aef4b9c3bcf3e075\",\"allow\":true,\"spaminess\":0.3,\"classification\":\"innocent\",\"profanity-match\":false}}"
  recorded_at: Mon, 20 May 2013 20:07:46 GMT
recorded_with: VCR 2.4.0
