---
http_interactions:
- request:
    method: get
    uri: http://geocoder.ca/?callback=test&geoit=xml&jsonp=1&locate=Clarksville,%20TN%2042223%20USA&showpostal=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: test({"longt":"0.000000","error":{"description":"Your request did not
        produce any results.","code":"008"},"latt":"0.000000"});
  recorded_at: Mon, 08 Sep 2014 03:44:43 GMT
- request:
    method: get
    uri: https://congress.api.sunlightfoundation.com/districts/locate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - "<SUNLIGHT_KEY>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 400 Bad Request
    body:
      encoding: UTF-8
      string: '{"error":"Provide a ''zip'', or a ''latitude'' and ''longitude''.","status":400}'
  recorded_at: Mon, 08 Sep 2014 03:44:44 GMT
recorded_with: VCR 2.9.2
