---
http_interactions:
- request:
    method: get
    uri: https://congress.api.sunlightfoundation.com/districts/locate?zip=22204
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - "<SUNLIGHT_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"results":[{"state":"VA","district":8}],"count":1}'
  recorded_at: Wed, 08 Oct 2014 16:40:01 GMT
- request:
    method: get
    uri: https://congress.api.sunlightfoundation.com/legislators/locate?zip=22204
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - "<SUNLIGHT_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"results":[{"bioguide_id":"K000384","birthday":"1958-02-26","chamber":"senate","contact_form":"http://www.kaine.senate.gov/contact","crp_id":"N00033177","district":null,"facebook_id":"482778861771212","fax":"202-228-6363","fec_ids":["S2VA00142"],"first_name":"Timothy","gender":"M","govtrack_id":"412582","icpsr_id":41305,"in_office":true,"last_name":"Kaine","lis_id":"S362","middle_name":null,"name_suffix":null,"nickname":null,"oc_email":"Sen.Kaine@opencongress.org","ocd_id":"ocd-division/country:us/state:va","office":"388
        Russell Senate Office Building","party":"D","phone":"202-224-4024","senate_class":1,"state":"VA","state_name":"Virginia","state_rank":"junior","term_end":"2019-01-03","term_start":"2013-01-03","thomas_id":"02176","title":"Sen","twitter_id":"SenKaineOffice","votesmart_id":50772,"website":"http://www.kaine.senate.gov","youtube_id":"SenatorTimKaine"},{"bioguide_id":"M000933","birthday":"1945-05-16","chamber":"house","contact_form":"https://moran.house.gov/contact-me","crp_id":"N00002083","district":8,"facebook_id":"100123453059","fax":"202-225-0017","fec_ids":["H0VA08040"],"first_name":"James","gender":"M","govtrack_id":"400283","icpsr_id":29149,"in_office":true,"last_name":"Moran","middle_name":"P.","name_suffix":"Jr.","nickname":"Jim","oc_email":"Rep.Moran@opencongress.org","ocd_id":"ocd-division/country:us/state:va/cd:8[...]
