---
http_interactions:
- request:
    method: get
    uri: http://api.smartystreets.com/street-address?auth-id=<SMARTY_STREETS_ID>&auth-token=<SMARTY_STREETS_TOKEN>&street=4236%20Bowden%20St,Frisco%20City,%20AL%2036445
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"input_index":0,"candidate_index":0,"delivery_line_1":"4236 Bowden
        St","last_line":"Frisco City AL 36445-5420","delivery_point_barcode":"364455420368","components":{"primary_number":"4236","street_name":"Bowden","street_suffix":"St","city_name":"Frisco
        City","state_abbreviation":"AL","zipcode":"36445","plus4_code":"5420","delivery_point":"36","delivery_point_check_digit":"8"},"metadata":{"record_type":"S","zip_type":"Standard","county_fips":"01099","county_name":"Monroe","carrier_route":"R002","congressional_district":"01","rdi":"Commercial","elot_sequence":"0491","elot_sort":"D","latitude":31.42353,"longitude":-87.41092,"precision":"Zip8","time_zone":"Central","utc_offset":-6.0,"dst":true},"analysis":{"dpv_match_code":"Y","dpv_footnotes":"AABB","dpv_cmra":"N","dpv_vacant":"N","active":"N"}}]

'
  recorded_at: Fri, 05 Sep 2014 21:17:17 GMT
- request:
    method: get
    uri: https://congress.api.sunlightfoundation.com/districts/locate?zip=36445
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - "<SUNLIGHT_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"results":[{"state":"AL","district":1}],"count":1}'
  recorded_at: Fri, 05 Sep 2014 21:17:17 GMT
- request:
    method: get
    uri: http://api.smartystreets.com/street-address?auth-id=<SMARTY_STREETS_ID>&auth-token=<SMARTY_STREETS_TOKEN>&street=123%20Fake%20Street,Mount%20Vernon,%20AL%2036560
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Account-Header:
      - 307cf606-0000-0000-0000-000000000000
      X-Server-Name:
      - streetapi-002-ashburn
    body:
      encoding: UTF-8
      string: "[]\n"
  recorded_at: Wed, 11 Feb 2015 14:15:38 GMT
- request:
    method: get
    uri: https://tools.usps.com/go/ZipLookupResultsAction!input.action?address1=123%20Fake%20Street&address2=&city=Mount%20Vernon&companyName=&postalCode=&resultMode=0&state=AL&urbanCode=&zip=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=ISO-8859-1
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\r\n\r\n\r\n\r\n\r\n\r\n<html
        xmlns=\"http://www.w3.org/1999/xhtml\">\r\n\r\n\r\n\t\r\n\t\r\n\r\n\r\n\r\n\t\r\n\t\r\n\r\n\r\n\t\r\n\t\r\n\r\n\r\n\r\n\t
        \r\n\t \r\n\t \r\n\t \r\n\t \r\n\t \r\n\t \r\n\t \r\n\t \r\n\t \r\n \r\n\r\n<head>\r\n<meta
        http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\" />\r\n<title>USPS.com&reg;
        - ZIP Code&#153; Lookup</title>\r\n<meta name=\"keywords\" content=\"\" />\r\n<meta
        name=\"description\" content=\"\" />\r\n\r\n\r\n\t\r\n\t\r\n<!--\t\t-->\r\n\t<link
        rel=\"stylesheet\" href=\"/go/styles/usps.css\" type=\"text/css\" media=\"all\"
        />\r\n\t<link rel=\"stylesheet\" href=\"/go/styles/quicktools.css\" type=\"text/css\"
        media=\"all\" />\r\n\t\r\n\t\t\r\n\t\r\n\t<link rel=\"stylesheet\" href=\"/go/styles/modal-fluid.css\"
        type=\"text/css\" media=\"all\" />\r\n\t\r\n\t<link rel=\"stylesheet\" href=\"/go/styles/tables.css\"
        type=\"text/css\" media=\"all\" />\r\n\t\r\n\t<!--[if IE 6]>\r\n\t\t<link
        rel=\"stylesheet\" href=\"/go/styles/usps-ie7.css\" type=\"text/css\" media=\"all\"
        />\r\n\t\t<link rel=\"sty[...]
