/* This file exists because we haven't deployed rails 3.2 yet */

/* Banner ad */

.top-banner {
    font-size: 16px;
    color: #333;
    position: relative;
    background: #efefef;
    border: 1px solid #ddd;
    border-top: none;
}

#home .top-banner {
    background: #f0f9fb;
    border-bottom: none;
}

#home .top-banner::before {
    border: 1px dashed #ddd;
}

.top-banner strong {
    font-weight: bold;
}

.top-banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 4px;
    border: 1px dashed #fff;
}

.top-banner--ppf {
    width: 60%;
    margin: auto;
    padding-top: 17px;
}
.top-banner--ppf a,
.top-banner--ppf p,
.top-banner--ppf img{
    display: inline-block;
    position: relative;
    vertical-align: top;
}
.top-banner--ppf p {
    width: 55%;
    margin-left: 25px;
}

.top-banner--ppf .btn, .alert.btn {
    margin-left: 25px;
    padding: 5px 15px;
    border-bottom: 2px solid #c55948;
    border-radius: 2px;
    box-shadow: none;
    background: #ef6c57;
    font-size: 12px;
    text-shadow: none;
    color: #fff;
    width: 30%;
}

.alert.btn.no-margin{
    margin: 0;
}

.top-banner--ppf .btn:hover,
.top-banner--ppf .btn:active, .alert.btn:hover {
    background: #e56753;
    color: #fff;
}

.top-banner--ppf .btn:active, .alert.btn:active {
    top: 1px;
    border-bottom: 1px solid #c55948;
}


/* Branding Bar */
.brandingbar a {
    color: #395C64;
}

.brandingbar a:hover {
    color: #688794;
}

.brandingbar a.social, .brandingbar a.branding-bar_trigger {
    line-height: 1;
    margin-top:1em;
    display: inline-block;
}
.brandingbar .icon:before {
    background:none;
}

#bb_close-panel, .bb_submit, .bb_submit:hover {
    box-shadow: none;
    text-shadow: none;
}
