@font-face {
  font-family: "sf-icons";
  src: url("../fonts/sf-icons.eot");
  src: url("../fonts/sf-icons.eot?#iefix") format("embedded-opentype"), url("../fonts/sf-icons.woff") format("woff"), url("../fonts/sf-icons.ttf") format("truetype"), url("../fonts/sf-icons.svg#sf-icons") format("svg");
  font-weight: normal;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "sf-icons";
    src: url("../fonts/sf-icons.svg#sf-icons") format("svg"); }
 }

[data-icon]:before {
  content: attr(data-icon); }

[data-icon]:before, .sficon-calendar:before, .sficon-contract:before, .sficon-email:before, .sficon-expand:before, .sficon-facebook:before, .sficon-facebook-alt:before, .sficon-flickr:before, .sficon-github:before, .sficon-google-plus:before, .sficon-instagram:before, .sficon-linkedin:before, .sficon-linkedin-alt:before, .sficon-minus:before, .sficon-pin:before, .sficon-pin-alt:before, .sficon-plus:before, .sficon-pocket:before, .sficon-scout:before, .sficon-skype:before, .sficon-tcamp:before, .sficon-tumblr:before, .sficon-twitter:before, .sficon-youtube:before {
  display: inline-block;
  font-family: "sf-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

.sficon-calendar:before {
  content: "\f100"; }

.sficon-contract:before {
  content: "\f101"; }

.sficon-email:before {
  content: "\f102"; }

.sficon-expand:before {
  content: "\f103"; }

.sficon-facebook:before {
  content: "\f104"; }

.sficon-facebook-alt:before {
  content: "\f105"; }

.sficon-flickr:before {
  content: "\f106"; }

.sficon-github:before {
  content: "\f107"; }

.sficon-google-plus:before {
  content: "\f108"; }

.sficon-instagram:before {
  content: "\f109"; }

.sficon-linkedin:before {
  content: "\f10a"; }

.sficon-linkedin-alt:before {
  content: "\f10b"; }

.sficon-minus:before {
  content: "\f10c"; }

.sficon-pin:before {
  content: "\f113"; }

.sficon-pin-alt:before {
  content: "\f114"; }

.sficon-plus:before {
  content: "\f10d"; }

.sficon-pocket:before {
  content: "\f115"; }

.sficon-scout:before {
  content: "\f10e"; }

.sficon-skype:before {
  content: "\f10f"; }

.sficon-tcamp:before {
  content: "\f116"; }

.sficon-tumblr:before {
  content: "\f110"; }

.sficon-twitter:before {
  content: "\f111"; }

.sficon-youtube:before {
  content: "\f112"; }
