<div id="the-bills">
  <% if ['all', 'senate'].include?(@types) %>
    <div class="<%= (@types == 'senate') ? 'single' : 'senate' %>">
      <% ['s', 'sres', 'sjres', 'sconres'].each do |bill_type| %>
        <%= render(:partial => 'bill/bills_of_type',
                   :locals => { :bills => @bills[bill_type],
                                :bill_counts => @bill_counts,
                                :bill_type => bill_type })
        %>
      <% end %>
    </div>
  <% end %>

  <% if ['all', 'house'].include?(@types) %>
    <div class="<%= (@types == 'house') ? 'single' : 'house' %>">
      <% ['hr', 'hres', 'hjres', 'hconres'].each do |bill_type| %>
        <%= render(:partial => 'bill/bills_of_type',
                   :locals => { :bills => @bills[bill_type],
                                :bill_counts => @bill_counts,
                                :bill_type => bill_type })
        %>
      <% end %>
    </div>
  <% end %>
</div>

