<% content_for :load_js do %>
  <%= javascript_include_tag('components') %>
<% end %>

<div class="contents">
  <%= react_component('BillCards', { bills: @bills }, {prerender: true}) %>
  <div class="contents__side">
  </div>
</div>