<div class="top-banner">
    <div class="top-banner--ppf">
        <a href="http://askthem.io" target="_blank">
            <img width="135" height="30" src="../images/ppf-askthem-logo.png" alt="AskThem">
        </a>
        <p>Check out <a href="http://askthem.io" target="_blank">AskThem</a>, a free and open-source platform from our friends at <a href="http://www.participatorypolitics.org" target="_blank">PPF</a> for questions-and-answers with public figures!</p>
        <a class="btn" href="http://askthem.io" target="_blank">Ask a Question!</a>
    </div>
</div>