<div class="clearfix">
  <%= render :partial => partial, :collection => collection, :as => as, :locals => locals %>
</div>
<div class="pull-right">
    <a href="<%= @more_url %>" class="more">More <%= @type.pluralize %> &raquo;</a>
</div>