<div id="heading">

  <h2>Issues</h2>
  <p>This list of more than 4,000 issue areas is created and assigned to bills by the Congressional Research Service, the non-partisan think tank of Congress.</p>
  <a href="#" id="view_button"><span>Change View</span></a>
  <script type="text/javascript">
  $j(document).ready(function(){

    $j("#view_button").toggle(function(){
      $j(this).addClass("swap");
      $j("#views").fadeOut("fast", function() {
        $j(this).fadeIn("fast").addClass("wide");
      });
    }, function () {
      $j(this).removeClass("swap");
      $j("#views").fadeOut("fast", function() {
        $j(this).fadeIn("fast").removeClass("wide");
      });
    });

  });
  </script>

</div>
