<div id="heading">

  <h2>Issues</h2>
  <p>This list of more than 4,000 issue areas is created and assigned to bills by the Congressional Research Service, the non-partisan think tank of Congress.</p>

</div>
