<div class="sidebar">
  <a href="/resources/issue_bills" class="issue_widget_link">Make a Widget for any issue</a>
  <div id="zipcode_lookup">

    <h3>Search for Issues:</h3>
    <% form_remote_tag(:url => { :action => 'quick_search' }, :update => 'issue_list') do %>
      <%= text_field_tag 'q' %>
      <input type="image" src="<%= image_path 'show_me.png' %>" value="submit" />
      <% end %>
    </div>

    <%= render :partial => 'shared/carousel' if @carousel %>

    <a id="head_button" href="/people/compare"></a>
</div>