// Sitewide button stylings
//
// .button        - Base button style
//
// Styleguide 1.1

button, .button, .alert {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  font-family: inherit;
  color: #A3A3A3;
  font-size: 100%;
  font-weight: 300;
  text-decoration: none;
  cursor: pointer;
  border: none;
  line-height: 1;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-right: 1.5em;
  padding-left: 1.5em;
  background: shade(#fff, 1%);
  text-align: center;
  border-radius: $radius;
  margin-bottom: $base-spacing-unit/2;
}

// Button sizes

.button-full {
  display: block;
  width: 100%;
  text-align: center;
}

.button-huge {
}

.button-large {
}

.button-small {
}

.button-tiny {
}

// Alert buttons

.alert {
  background: $red;
  color: $white;
  display: block;
  width: 100%;
  margin-bottom: $base-spacing-unit;

  text-align: center;
  &:after {
    content: "x";
    float: right;
  }
}

.alert-positive {
   @include button($green);
}

.alert-negative {
   @include button($red);
}

.rounded-btn{
  border-radius: 10px;
}


@each $fill in $button-colors {
  @each $border in $button-colors{
    .#{nth($fill, 1)}-and-#{nth($border, 1)} { @include make-button(nth($fill,2), nth($border,2))}
  }
}

.card-cta-button {
  @extend .transparent-and-yellow;
  font-size: $micro-size;

}

.load-more-button {
  @extend .button-full;
  background: $light-gray;
}