// ------------------------------
// Forms
// ------------------------------

// Example
/*
  <label>Name <abbr title="Required">*</abbr></label>
  <input class="text-input">

  <label>
    Message <abbr title="Required">*</abbr>
    <small class="additional  micro">An additional note can go here.</small>
  </label>
  <textarea class="text-area"></textarea>
*/



// Form wrapper styling
fieldset {
  @include rem('padding', $base-spacing-unit);
}

legend {
  @include rem('padding', $base-spacing-unit/4);
  @include rem('font-size', $milli-size);
  background-color: tint($light-gray, 50%);
  color: shade($light-gray, 25%);
  font-weight: 600;
}

// Form input styles
//  .text-area-small{
//   min-height: 0 !important;
//  }

.text-input,
.text-area,
 {
  @include box-sizing(border-box);
  width: 100%;
  padding: 0.65em;
  border: 1px solid tint($text-color, 80%);
  border-radius: $radius;
  background-color: tint($light-gray, 98%);
  margin-bottom: $base-spacing-unit; 

  &:focus,
  &:active {
    border: 1px solid tint($text-color, 60%);
    background-color: white;
    outline: none;
    @include placeholder {
      color: tint($text-color, 65%);
    }
  }

  @include placeholder {
    color: tint($text-color, 50%);
  }

  &.error {
    border-color: $red;
  }
}

// Search form
.search {
  @include rem('padding', $base-spacing-unit/4);
  margin: 12px;
  background: tint($dark-blue, 20%);
  border: none;
  width: 40%;
  font-weight: 300;
  @include rem('font-size', 18px);
  @include placeholder {
      color: $white;
    }
  &:focus,
  &:active {
    border: none;
    }
  }
