.masthead {
    @extend .container-fluid;
    
    &__header {
        @include make-row();
        padding: 20px 0;
    }
}

.masthead__brand {
    @include make-xs-column(6);
    @include make-sm-column(6);
    @include make-md-column(7);
}

.masthead__actions {
    @include make-xs-column(6);
    @include make-sm-column(6);
    @include make-md-column(5);
    
    margin-top: 7px;
    @include breakpoint($screen-sm){
        margin-top: 12px;
    }

    text-align: right;

    .button__login {
        @extend .button__primary;
        font-size: 85%;

        @include breakpoint($screen-xs){
            font-size: 100%;
        }
    }

    .button__signup {
        @extend .button__secondary;
        display: none;

        @include breakpoint($screen-xs){
            display: inline-block;
            margin-right: 5px;
        }
    }
}

.logo {
    width: 175px;
    transition: width 150ms ease-out;

    @include breakpoint($screen-xxs){
        width: 200px;
    }

    @include breakpoint($screen-xs){
        width: 250px;
    }

    @include breakpoint($screen-sm){
        width: 300px;
    }
}


.footer {
    background: $white;
    padding: 25px 0 10px;
    border-bottom: 5px solid $yellow;
    text-align: center;
}
