.masthead {
    @extend .container-fluid;
    
    &__header {
        @include make-row();
        padding: 20px 0;
    }
}

.masthead__brand {
    @include make-xs-column(6);
    @include make-sm-column(6);
    @include make-md-column(7);
}

.masthead__actions {
    @include make-xs-column(6);
    @include make-sm-column(6);
    @include make-md-column(5);
    
    margin-top: 7px;
    @include breakpoint($screen-sm){
        margin-top: 12px;
    }

    text-align: right;

    .button__login {
        @extend .button__primary;
        font-size: 85%;

        @include breakpoint($screen-xs){
            font-size: 100%;
        }
    }

    .button__signup {
        @extend .button__secondary;
        display: none;

        @include breakpoint($screen-xs){
            display: inline-block;
            margin-right: 5px;
        }
    }
}

.logo {
    width: 175px;
    transition: width 150ms ease-out;

    @include breakpoint($screen-xxs){
        width: 200px;
    }

    @include breakpoint($screen-xs){
        width: 250px;
    }

    @include breakpoint($screen-sm){
        width: 300px;
    }
}

.footer {
    background: $white;
    padding: 25px 0 10px;
    border-bottom: 5px solid $yellow;
    text-align: center;
}

.panel-overview__subnav {
    @extend .nav;
    @extend .nav-tabs;
    @extend .nav-justified;

    background: #F2F9F9;
    
    > li > a,
    > li > a:hover {
        border-radius: 0;
        border: 0;
        border-top: 1px solid #ccc;
        font-size: 16px;
        color: #808080;
        margin: 0;
    }
    
    > li > a.is-active {
        border-top: 1px solid #ccc;
        background: #D8EFEE;
        position: relative;
    }
  
    > li > a:last-child {
        border-bottom: 1px solid #ccc;
    }

    @include breakpoint($screen-xxs){
        > li {
            display: table-cell;
            width: 1%;
            position: relative;
        }

        > li > a.is-active:after {
            top: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(136, 183, 213, 0);
            border-top-color: #D8EFEE;
            border-width: 10px;
            margin-left: -10px;
        }
        
        > li + li > a:hover,
        > li + li > a {
            border-left: 1px solid #ccc;
        }

        > li > a:last-child {
            border-bottom: 0;
        }
    }
}