<% leg = Person.find_by_bioguideid(p.bioguideid) %>
<tr>
  <td><%= link_to "#{leg.full_name} (#{leg.state}-#{leg.district || 'Sen'})", person_path(leg.id) %></td>
  <td><%= link_to p.bioguideid, "https://github.com/unitedstates/contact-congress/blob/master/members/#{p.bioguideid}.yaml" %></td>
  <td><%= link_to image_tag(status_image_url(status_image_for_test(p))),
                  url_for(:controller => "admin/contact_congress", :action => "result", :id => p.id) %>
  </td>
  <td><%= success_percentage(leg) %></td>
</tr>