<h2>Cards</h2>

<hr>

<div class="row">
  
  <div class="col-md-8">
  
  <h4>Info Cards</h4>
    
    <section class="section">
      <div class="card">
        <div class="card--info">
          <p class="card--info__title">House Committee on Judiciary Affairs</p>
          <p>is holding a business meeting to consider pending calendar business</p>
          <p class="card--info__time">Scheduled for 10:15am</p>
          <div class="card--info__footer">
            <img class="card--info__icon" src="http://placehold.it/50x50">
            <button class="card--info__button">Add to Calendar</button>
            <button class="card--info__button">Call Committee</button>
          </div>
        </div>
      </div>

      <div class="codeblock">
        
        <div class="codeblock__example">
          <%= example_code do %>
            <div class="info-card">
              <p class="info-card__title">House Committee on Judiciary Affairs</p>
              <p>is holding a business meeting to consider pending calendar business</p>
              <p class="info-card__time">Scheduled for 10:15am</p>
              <div class="info-card__footer">
                <img class="info-card__icon" src="http://placehold.it/50x50">
                <button class="info-card__button">Add to Calendar</button>
                <button class="info-card__button">Call Committee</button>
              </div>
            </div>
          <% end %>
        </div>
        
        <div class="codeblock__notes">
          <h4>Floor update</h4>
          <p>// info-card for floor update with rep icon</p>
        </div>
      </div>

    </section>

    <section class="section">
      <div class="card">
        <div class="card--info">
          <p class="card--info__title">House Committee on Judiciary Affairs</p>
          <p>is holding a business meeting to consider pending calendar business</p>
          <p class="card--info__time">Scheduled for 10:15am</p>
          <div class="card--info__footer">
            <a class="card--info__bill-ref" href="#">S.465</a>
            <a class="card--info__count">3</a>
            <button class="card--info__button">Add to Calendar</button>
            <button class="card--info__button">Call Committee</button>
          </div>
         </div>
       </div>

      <div class="codeblock">
        <div class="codeblock__example">
          <%= example_code do %>
            <div class="info-card">
              <p class="info-card__title">House Committee on Judiciary Affairs</p>
              <p>is holding a business meeting to consider pending calendar business</p>
              <p class="info-card__time">Scheduled for 10:15am</p>
              <div class="info-card__footer">
                <a class="info-card__bill-ref" href="#">S.465</a>
                <a class="info-card__count">3</a>
                <button class="info-card__button">Add to Calendar</button>
                <button class="info-card__button">Call Committee</button>
              </div>
            </div>
          <% end %>
        </div>
        <div class="codeblock__notes">
          <h4>Floor update</h4>
          <p>// info-card for floor update with rep icon</p>
        </div>
      </div>
    </section>
    <section>
      <h4>People Cards</h4>
      <div class="card">
        <div class="card--person">
          <div class="card--person__left-wrapper">
            <img src="http://placehold.it/75x75" class="card--person__moc-icon">
            <button class="card--person__follow-button">Follow</button>
          </div>
          <div class="card--person__right-wrapper">
            <h2 class="card--person__name">Tammy Duckworth</h2>
            <p class="card--person__position">
              Chairperson of Senate Commitee on Agriculture, Nutrition, and Forestry
            </p>
            <span class="card--person__detail--bullet">Independent</span>
            <span class="card--person__detail--bullet">3rd Term</span>
            <span class="card--person__detail">Sworn in 2013</span>
            <hr>
            <span class="card--person__vote-detail--bullet">72 Sponsored Bills</span>
            <span class="card--person__vote-detail">Votes with party 90% of time</span>
          </div>
        </div>
      </div>
    </section>

  </div>
  <div class="col-md-4">
  </div>
</div>