<h2>Cards</h2>

<div class="card">
    <p class="card__title">House Committee on Judiciary Affairs</p>
    <p>is holding a business meeting to consider pending calendar business</p>
    <p class="card__time">Scheduled for 10:15am</p>
    <img src="http://placehold.it/50x50">
    <button class="card__button">Add to Calendar</button>
    <button class="card__button">Call Committee</button>
</div>