<h2>Colors</h2>

<div class="cf">
  <div class="float-left">
    <div class="box dark-blue">#e6e6e6</div>
    <p>.dark-blue</p>
  </div>

  <div class="float-left margin-left">
    <div class="box yellow">#F7ca18</div>
    <p>.yellow</p>
  </div>

  <div class="float-left margin-left">
    <div class="box blue">#29abe2</div>
    <p>.blue</p>
  </div>

  <div class="float-left margin-left">
    <div class="box beige">#faf9f3</div>
    <p>.beige</p>
  </div>

  <div class="float-left margin-left">
    <div class="box light-blue">#94d5f0</div>
    <p>.light-blue</p>
  </div>

  <div class="float-left margin-left">
    <div class="box gray-blue">#f2f9f9</div>
    <p>.gray-blue</p>
  </div>

  <div class="float-left margin-left">
    <div class="box red">#F7675c</div>
    <p>.red</p>
  </div>

  <div class="float-left margin-left">
    <div class="box green">#61ce92</div>
    <p>.green</p>
  </div>
</div>

<h2>Typography</h2>

<p class="alpha">Alpha</p>
<p class="beta">Beta</p>
<p class="gamma">Gamma</p>
<p class="delta">Delta</p>
<p class="epsilon">Epsilon</p>
<p class="micro-size">Micro-size</p>
<p class="code">Code</p>

<h2 class="overview-heading">Overview Heading</h2>
<h2 class="section-heading">Section Heading</h2>
<p class="card-title">Card Title</p>
<p class="rep-card-name">Rep Card Name</p>

<a href="#">This is a link</a>


<h2>Buttons</h2>

<button class="transparent-and-dark-blue">Sign Up</button>
<button class="dark-blue-and-dark-blue white-text">Log In</button>
<button class="card-cta-button">Card Call to Action</button>
<button class="load-more-button">Load More</button>

<h2>Grid</h2>

<p>Content and Sidebar</p>
<div class="row show-grid">
  <div class="col-sm-8">
    <div>.col-sm-8</div>
  </div>
  <div class="col-sm-4">
    <div>.col-sm-4</div>
  </div>
</div>

<p>1/3</p>
<div class="row show-grid">
  <div class="col-sm-4">
    <div>.col-sm-4</div>
  </div>
  <div class="col-sm-4">
    <div>.col-sm-4</div>
  </div>
  <div class="col-sm-4">
    <div>.col-sm-4</div>
  </div>
</div>

<h2>Icons</h2>
