<div class="top-panel">
  <div class="top-panel__section-left">
    <h2>Section left</h2>
  </div>
  <div class="top-panel__section-right">
    Section Right
  </div>
</div>

<div class="contents">
  <div class="contents__main">
    <h2>Main</h2>

    <div class="info-card">
      <p class="info-card__title">House Committee on Judiciary Affairs</p>
      <p>is holding a business meeting to consider pending calendar business</p>
      <p class="info-card__time">Scheduled for 10:15am</p>
      <div class="info-card__footer">
        <img class="info-card__icon" src="http://placehold.it/50x50">
        <button class="info-card__button">Add to Calendar</button>
        <button class="info-card__button">Call Committee</button>
      </div>
    </div>

    <div class="info-card">
      <p class="info-card__title">House Committee on Judiciary Affairs</p>
      <p>is holding a business meeting to consider pending calendar business</p>
      <p class="info-card__time">Scheduled for 10:15am</p>
      <div class="info-card__footer">
        <img class="info-card__icon" src="http://placehold.it/50x50">
        <button class="info-card__button">Add to Calendar</button>
        <button class="info-card__button">Call Committee</button>
      </div>
    </div>

  </div>
  <div class="contents__side">
    <h2>Side</h2>
  </div>
</div>