<section class="section">
  <h2 class="section__header">Layout</h2>
  <div class="top-panel">
    <div class="top-panel__section-left">
      <h2>Section left</h2>
    </div>
    <div class="top-panel__section-right">
      Section Right
    </div>
  </div>

  <div class="contents">
    <div class="contents__main">
      <h2>Main</h2>

      <div class="info-card">
        <p class="info-card__title">House Committee on Judiciary Affairs</p>
        <p>is holding a business meeting to consider pending calendar business</p>
        <p class="info-card__time">Scheduled for 10:15am</p>
        <div class="info-card__footer">
          <img class="info-card__icon" src="http://placehold.it/50x50">
          <button class="info-card__button">Add to Calendar</button>
          <button class="info-card__button">Call Committee</button>
        </div>
      </div>

      <div class="info-card">
        <p class="info-card__title">House Committee on Judiciary Affairs</p>
        <p>is holding a business meeting to consider pending calendar business</p>
        <p class="info-card__time">Scheduled for 10:15am</p>
        <div class="info-card__footer">
          <img class="info-card__icon" src="http://placehold.it/50x50">
          <button class="info-card__button">Add to Calendar</button>
          <button class="info-card__button">Call Committee</button>
        </div>
      </div>

    </div>
    <div class="contents__side">
      <h2>Side</h2>
    </div>
  </div>
</section>

<section class="section layout">

    <h2 class="section__header">Classes</h2>


    <div class="top-panel">
      <p>.top-panel</p>
      <div class="top-panel__section-left">
        <div>.top-panel__section-left</div>
      </div>
     <!--  <div class="col-sm-8">
        <div>.col-sm-8</div>
      </div> -->
      <!-- <div class="col-sm-4">
        <div>.col-sm-4</div>
      </div> -->
      <div class="top-panel__section-right">
        <div>.top-panel__section-right</div>
      </div>
    </div>

    <div class='contents'>
      <p>.contents</p>
      <div class="contents__main">
        .contents__main
      </div>
      <div class="contents__side">
        .contents__side
      </div>
    </div>

</section>