---
http_interactions:
- request:
    method: get
    uri: https://congress.api.sunlightfoundation.com/districts/locate?zip=36560
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - "<SUNLIGHT_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"results":[{"state":"AL","district":1}],"count":1}'
  recorded_at: Wed, 11 Feb 2015 14:14:25 GMT
recorded_with: VCR 2.9.3
