// --------------------
// Global
// --------------------

// Box model

* {
  @include box-sizing(border-box);
}

// Document default styles
html {
  font-size: $base-font-size;
  // font-weight: 300;
  color: $text-color;
  overflow-y: scroll;
  min-height: 100%;
}

body {
  font-size: $base-font-size;
  max-width: $max-width;
  margin: auto;
  padding: 15px;
  background-color: #FFFFFF;
}

// Default link styles
a {
  color: #236cb5;

  &:hover {
    color: shade(#236cb5, 10%)
  }
}

hr {
  border: 0;
  border-bottom: 2px dashed #E6E6E6;
  margin-bottom: $base-spacing-unit/2;
}