// ------------------------------
// Clearfix
// ------------------------------

.cf {
  @include clearfix;
}


// ------------------------------
// Float Helpers
// ------------------------------

// Box alignment
.float-right {
  float: right !important;
}
.float-left {
  float: left !important;
}
.float-none {
  float: none !important;
}
.float-center {
  text-align: center;

  > * {
    display: inline-block;
  }
}

// Widths
.full-width {
  width: 100%;
}

// ------------------------------
// Colors
// ------------------------------

.dark-blue {
  background: $dark-blue;
}

.yellow {
  background: $yellow;
}

.blue {
  background: $blue
}

.beige {
  background: $beige;
}

.light-blue {
  background: $light-blue;
}

.gray-blue {
  background: $gray-blue;
}

.red {
  background: $red;
}

.green {
  background: $green;
}

// ------------------------------
// Box Model Helpers
// ------------------------------

// Margins
.no-margin {
  margin: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.quarter-margin-bottom {
  margin-bottom: $base-spacing-unit/4;
}
.half-margin-bottom {
  margin-bottom: $base-spacing-unit/2;
}
.base-margin-bottom {
  margin-bottom: $base-spacing-unit;
}

.quarter-margin-top {
  margin-top: $base-spacing-unit/4;
}
.half-margin-top {
  margin-top: $base-spacing-unit/2;
}
.base-margin-top {
  margin-top: $base-spacing-unit;
}

// ------------------------------
// Text Helpers
// ------------------------------

.no-wrap {
  white-space: nowrap;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover.hover-truncated {
    background-color: white;
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
  }
}

// ------------------------------
// Font Style Helpers
// ------------------------------

// Weights
.weight-light {
  font-weight: 300;
}

.weight-normal {
  font-weight: 400;
}
.weight-semibold {
  font-weight: 600;
}
.weight-bold {
  font-weight: 700;
}


// -----------------------------
// Not Sure
// -----------------------------

.icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}