// ------------------------------
// Typography
// ------------------------------

// Font size mixin
@mixin font-size($font-size) {
  font-size: $font-size;
  font-size: ($font-size / $base-font-size) * 1rem;
}

// ------------------------------
// Buttons
// ------------------------------

// Button style mixin
@mixin button($button-color) {
  background-color: $button-color;
  color: white !important;

  &:hover,
  &:focus {
    background: shade($button-color, 15%);
    color: white;
  }
  &:visited {
    color: white;
  }
}