// ------------------------------
// Typography
// ------------------------------

// Font size mixin
@mixin font-size($font-size) {
  font-size: $font-size;
  font-size: ($font-size / $base-font-size) * 1rem;
}

// ------------------------------
// Buttons
// ------------------------------

// Button colors mixin

@mixin make-button($fill, $border){
  background-color: $fill;
  border: 1px solid $border;

  &:hover,
  &:focus {
    border-color: shade($border, 15%);
  }
}

// Sets icon

@mixin icon($size){
  height: $size;
  width: $size;
  border-radius: 50%;
  margin-bottom: $base-spacing-unit;
}