// ------------------------------
// Typography
// ------------------------------



// Type sizes

$alpha:                 48px; // .alpha
$beta:                  36px; // .beta
$gamma:                 24px; // .gamma
$delta:                 21px; // .delta
$epsilon:               18px; // .epsilon

$micro-size:            14px;
$nano-size:             11px;


// Font Sizes

.alpha { font-size: $alpha; }
.beta { font-size: $beta; }
.gamma { font-size: $gamma; }
.delta { font-size: $delta; }
.epsilon { font-size: $epsilon; }

.micro-size { font-size: $micro-size; }
.nano-size { font-size: $nano-size; }


// Font Weight

.normal { font-weight: 400;}
.bold { font-weight: 700;}
.semibold {font-weight: 500;}
.light {font-weight: 300;}


// Helpers

%white-text { color: #fff; }


// Header classes

.overview-heading {
    @extend .gamma;
    @extend .bold;
    text-transform: uppercase;
}

.section-heading {
    @extend .beta;
    @extend .light;
}

.card-title {
    @extend .bold;
}

.rep-card-name {
    @extend .delta;
}