// ------------------------------
// UI Colors
// ------------------------------


// Base color
$dark-blue:             #3B4555;
$blue:                  #236CB5;
// $blue:                  #29ABE2;
$light-blue:            #94D5F0;
$gray-blue:             #F2F9F9;
$yellow:                #F7CA18;

// Utility colors
$white:                 #FFF;

// Accent colors
$dark-gray:             #E6E6E6;
$light-gray:            #FCFCFC;
$beige:                 #FAF9F3;
$red:                   #E0522B;
$green:                 #61CE92;
$transparent:           rgba(0,0,0,0);

$button-colors: (transparent rgba(0,0,0,0)), (white $white), (dark-blue $dark-blue), (light-blue $light-blue), (blue $blue), (yellow, $yellow);
$colors-map: (transparent: rgba(0,0,0,0), white: $white, dark-blue: $dark-blue, light-blue: $light-blue, blue: $blue, yellow: $yellow);

// ------------------------------
// UI Styles
// ------------------------------


// Roundedness
$radius:                $border-radius-base;
$round:                 50%;


// -------------------------------
// Spacing
// -------------------------------


$base-spacing-unit:     $line-height-computed;