<div class="bootstrap-enabled">
    <div class="top-banner">
        <div class="top-banner--ppf">
            <p><strong>We need your help!</strong> Help us make OpenCongress even better by telling us what's important to you!</p>
            <a class="btn" href="http://sunlight.typeform.com/to/gYNdkt" target="_blank">Take this quick survey</a>
        </div>
    </div>
</div>