<% subs = committees[name] -%>
<% first = subs[0] -%>
<% rest = subs[1..-1] -%>


<% if subs.length == 1 || subs.map(&:subcommittee_name).compact.empty? -%>
  <% subs.each do |c| -%>
    <li class="committee"><%= link_to c.proper_name, :controller => 'committee',  :action => 'show', :id => c %></li>
  <% end -%>
<% else  -%>
  <li class="committee"><%= link_to first.proper_name, :controller => 'committee', :action => 'show', :id => first %></li>
  <% rest.each do |c| -%>
    <li class="subcommittee"><%= link_to (c.subcommittee_name || '').strip, { :controller => 'committee', :action => 'show', :id => c }  %></li>
  <% end -%>
<% end -%>
