    <div class="attributions">
      <div class="maplight small">
        <a href="http://maplight.org">
          Interest group positions: <%= image_tag "maplight-trans.png", :class => "logo margin-top" %>
        </a>
      </div>
    </div>

