<% if flash.any? %>
  <% flash.map do |type, message| %>
  <div class="flash note <%=h type %>" style="display: none">
    <a href="#">close</a>
    <div><%= message %></div>
  </div>
  <% end %>
  <script type="text/javascript">
    jQuery('.flash.note').slideDown('fast')
      .find('a').click(function(e){
        e.preventDefault();
        jQuery(this).parents('.note').slideUp('fast');
      });
  </script>
<% end %>
