<div class="bootstrap-enabled">
    <div class="top-banner">
    <%= link_to "close", close_banner_path(cookie:"notebook_banner"), class: "close" %>
    <!-- <a class="close" href="#">close</a> -->
        <div class="top-banner--ppf">
            <p><strong>Download your politcal notebook!</strong> OpenCrongress will be deprecating the My Political Notebook feature in the upcoming months</p>
            <%= link_to "Download Your Notebook", political_notebook_path(current_user.login), class: 'btn' %>
        </div>
    </div>
</div>