<% if flash.any? %>
  <% flash.map do |type, message| %>
  <div class="flash note <%=h type %>">
    <a class="close" href="#">close</a>
    <div><%= message %></div>
  </div>
  <% end %>
  <% unless flash[:error_nojs].nil? %>
    <div class="flash note error">
      <div><%= flash[:error_nojs] %></div>
    </div>
  <% end %>
  <% content_for :javascripts do %>
    <script type="text/javascript">
      jQuery('.flash.note').find('a.close').click(function(e){
          e.preventDefault();
          jQuery(this).parents('.note').slideUp('fast');
        });
    </script>
  <% end %>
<% end %>
