defaults: &defaults
  twitter_consumer: xxx
  twitter_secret: xxx
  # These APIs are used for the commentary features which
  # are currently broken.
  technorati_api_key: xxx
  daylife_access_key: xxx
  daylife_secret: xxx
  bing: xxx
  # The MapQuest API is used for geolocating user addresses in order to
  # lookup congressional districts.
  mapquest: xxx
  # The Sunlight API key is used to map zip codes and lat/lng pairs to
  # congressional districts.
  sunlightlabs_key: xxx
  # The Maplight key is for their bill positions API.
  maplight: xxx
  # The Wiki credentials can by found/set in your wiki's LocalSettings.php file.
  wiki_pass: xxx
  wiki_key: xxx
  wiki_callback_key: xx
  # The Google Maps key must be enabled for Javascript maps v2
  google_maps: xxx
  airbrake: xxx
  sentry_dsn: xxx
  postmark: xxx
  bitly: xxx
  aws_access_key_id: xxx
  aws_secret_access_key: xxx
  formageddon_password: xxx
  formageddon_get_replies_key: xxx
  phaxio_key: xxx
  phaxio_secret: xxx
  akismet: xxx
  google_analytics: xxx
  chartbeat_id: xxx
  facebook_app_id: xxx

development:
  <<: *defaults

test:
  <<: *defaults

staging:
  <<: *defaults

production:
  <<: *defaults

