defaults: &defaults
  secret_token: --
  current_opensecrets_cycle: '2010'
  default_search_page_size: 10
  default_congress: 113
  default_count_time: <%= 7.days %>
  default_search_page_size: 10
  available_congresses:
    - 113
    - 112
    - 111
    - 110
    - 109

  scraper_useragent: Mozilla/5.0 (Windows; U; Windows NT 5.1; en-US; rv:1.8.0.1) Gecko/20060111 Firefox/1.5.0.1

  mini_mailer_from: alert@dev.opencongress.org

  data_path: <%= Rails.root %>/data
  govtrack_data_path: <%= Rails.root %>/data/govtrack
  govtrack_billtext_path: <%= Rails.root %>/data/govtrack/bills.text
  govtrack_billtext_diff_path: <%= Rails.root %>/data/govtrack/bills.text.cmp
  oc_billtext_path: <%= Rails.root %>/data/opencongress/bills.text
  committee_reports_path: <%= Rails.root %>/data/committee_reports
  # The following two paths should contain a trailing slash
  # If you run the unitedstates scrapers locally then leave
  # the unitedstates_rsync_source blank and point unitedstates_data_path
  # at the data directory for the scrapers.
  # If the scrapers are run remotely then set unitedstates_rsync_source
  # to the rsync URL for the data and set unitedstates_data_path to the
  # directory to download the data to.
  unitedstates_rsync_source: usdata@localhost:congress/data/
  unitedstates_data_path: '/path/to/data/of/unitedstates/scrapers/'

  base_url: http://www.opencongress.org/
  api_host: api.opencongress.org
  api_base_url: http://api.opencongress.org/

  wiki_host: www.opencongress.org
  wiki_base_url: http://www.opencongress.org/wiki

  ban_file: <%= Rails.root %>/data/banned_users.txt

  formageddon_reply_domain: formageddon.nindy.com
  formageddon_server: pop.gmail.com
  formageddon_username: formageddon@nindy.com

  contact_emails:
    - you@example.com

  contact_us_email: you@example.com

  email_from_address: you@example.com

  group_images_path: <%= Rails.root %>/public/system/group_images
  group_images_url: /system/group_images
  notebook_files_path: <%= Rails.root %>/public/system/notebook_files
  notebook_files_url: /system/notebook_files

development:
  <<: *defaults

  group_images_path: <%= Rails.root %>/public/system/group_images
  notebook_files_path: <%= Rails.root %>/public/system/notebook_files

  # All API routes use an 'api.' subdomain. To facilitate this you will
  # need to add an entry to your hosts file that resolves to 127.0.0.1
  base_url: http://dev.opencongress.org:3000/
  api_host: api.dev.opencongress.org:3000
  api_base_url: http://api.dev.opencongress.org:3000/

test:
  <<: *defaults

staging:
  <<: *defaults
  base_url: http://staging.opencongress.org/
  api_host: api.staging.opencongress.org
  api_base_url: http://api.staging.opencongress.org/
  wiki_base_url: http://staging.opencongress.org/wiki

production:
  <<: *defaults
  formageddon_reply_domain: opencongress.org
  formageddon_server: pop.gmail.com
  formageddon_username: formageddon@opencongress.org
