<div style="padding:20px;">

  <% if @district.nil? %>
    We could not associate that address with a district.  Please be more specific.
  <% else %>
    Your address is in the <%= @district.district_state_text %> district.
    This district's volunteer Watchdog is [link to user's MyOC tab]. Visit their profile to view everything 
    they're tracking in Congress, news about your district, and to give them your input. To see users near
    you and get started as a watchdog yourself, <a href="/login">login</a> or <a href="/register">join</a> 
    OpenCongress, it's free and easy.    
  <% end %>
</div>
