.card {

  @include make-row();
  @extend .cf;
  border: 1px solid $dark-gray;
  padding: $base-spacing-unit;
  padding-bottom: $base-spacing-unit/2;
  background: $white;
  margin-bottom: $base-spacing-unit;
  
  &--info {

    a {
      font-size: $epsilon;
      text-align: center;
    }


    &__title {
      @extend .bold;
    }

    &__time {
      @extend .micro-size;
      color: $dark-gray;
      padding-bottom: $base-spacing-unit;
    }

    &__footer {
      border-top: 1px dashed #ccc;
      padding-top: $base-spacing-unit/2;

      &--no-border {
        border: none;
      }
    }

    &__button {
      @extend .pull-right;
      margin-left: 16px;
      border: 1px solid $transparent;
      @include button-variant(shade($dark-gray, 40%), $transparent, $yellow);
      @include breakpoint(max-width $screen-sm){
        float: none;
        display: block;
        width: 100%;
      }
    }


    &__icon {
      @include icon(50px);
      margin-bottom: $base-spacing-unit/2;
    }

    &__count{
      border-radius: 50%;
      padding: 8px 15px;
      display: inline-block;
      margin-bottom: $base-spacing-unit/2;
      border: 1px solid $yellow;
    }

    &__bill-ref {
      padding: 0 $base-spacing-unit*2;
      margin-bottom: $base-spacing-unit/2;
      display: inline-block;
    }
  }

  &--person {
    
    @include make-row();
    @extend .cf;
    
    &__left-wrapper {
      @include make-xs-column(12);
      @include make-md-column(3); 
      @include breakpoint(max-width $screen-md){
        max-height: $base-spacing-unit;
      }
    }

    &__right-wrapper {
      @include make-xs-column(12);
      @include make-md-column(9);
    }

    &__moc-icon {
      margin: 0 auto;
      @include icon(70px);
      margin-bottom: $base-spacing-unit/2;
      display: block;
      @include breakpoint(max-width $screen-md){
        display: inline;
        position: relative;
        float: left;
        bottom: 47px;
        left: 40%;
        margin: 0;
      }
    }

    &__follow-button {
      border: 1px solid $transparent;
      @include button-variant(shade($dark-gray, 40%), $transparent, $yellow);
      @include make-md-column(12);
      @include make-xs-column(3);
      @extend .pull-right;
      
    }

    &__name {
      font-size: $gamma;
      margin: $base-spacing-unit 0 $base-spacing-unit/4 0;
    }

    &__position {
      color: shade($dark-gray, 40%);
      font-size: $nano-size;
      font-style: italic;
    }

    &__detail {
      @extend .semibold;
      color: shade($dark-gray, 40%);
      font-size: $micro-size;
      display: inline-block;
      margin : $base-spacing-unit/4 0;

      &--bullet {
        @extend .card--person__detail;
        &:after { content: " \00b7 "; }
        padding: 1px;
      }
    }

    &__vote-detail {
      color: shade($dark-gray, 40%);
      
      @include breakpoint(max-width $screen-md){
        display: block;
      }

      &--bullet {
        @extend .card--person__vote-detail;
        padding: 1px;
        &:after { content: " \00b7 "; }
        @include breakpoint(max-width $screen-md){
          &:after { content: ''; }
        }
      }
    }
  }
}
