.card {
  @include make-row();
  border: 1px solid $dark-gray;
  padding: 25px;

  &__title {
    @extend .bold;
  }

  &__time {
    @extend .micro-size;
    color: $dark-gray;
    padding-bottom: $base-spacing-unit;
    border-bottom: 1px dashed #ccc;
  }

  &__button{
  
  }
}