<div id="heading">
  <h2>About OpenCongress</h2>
</div>

<div class="padding">
  <div class="pretty-text">

    <div class="col1">
      <p class="about-oc">
      OpenCongress makes it easy to follow legislation in Congress, from bill
      introduction to floor vote, as well as profiles for senators and
      representatives. You can use the site to learn more about issues you care
      about and connect with others who share similar views.
      </p>

      <p>
      Using the site is simple: enter a lawmaker’s name, issue topic
      or bill number to search OpenCongress. Get information on who
      represents you, find relevant legislation and learn how to take
      action. Check out House and Senate profile pages to see what bills
      lawmakers sponsor, voting records, campaign contributions and how to
      contact them. You can even
      review side-by-side comparisons on how members vote in the current
      Congress. OpenCongress also provides quick links for bills based on
      issue, popularity and status, and you can rate your support or opposition
      to any piece of legislation.
      </p>

      <p>
      Becoming a registered user of OpenCongress brings more functionality to
      site. You can track bills and issues within the site and connect with
      other users on OpenCongress Groups.
      <a href="<%= url_for(:controller => :account, :action => :login) %>">Register or login here.</a>
      </p>

      <p>
      <img src="/images/ppf-logo.png" alt="PPF" style="float:left;padding:4px;border:1px solid #eee;border-radius:2px;width:40px;margin-right:10px;position:relative; top:2px;" />
      OpenCongress was founded in 2007
      by the Participatory Politics Foundation and operated as a
      joint project with the Sunlight Foundation until acquired by
      the Sunlight Foundation in 2013. Sunlight is now the sole operator of OpenCongress
      </p>

      <h3>Data</h3>

      <p>
      Bill, legislator, committee, vote, campaign finance and issue data are collected from
      official sources, including the Library of Congress, GovTrack,
      Congressional Research Service and the Sunlight Foundation.
      </p>

      <p>
      The site is updated daily and searchable from the start of the 109th
      Congress in January 2005 through the current date.
      </p>

      <h3>API</h3>

      <p>
      OpenCongress is open source. Developers interested in using the data on
      OpenCongress should check out the
      <a href="http://sunlightfoundation.com/api/">Sunlight Foundation’s
        Congress API.</a> This is a continuously updated JSON API for the
      people and work of Congress. It provides current information on
      legislators, districts, committees, bills, votes, as well as real-time
      notice of hearings, floor activity and upcoming bills.
      </p>

      <p>
      Please note, the previously available OpenCongress API developed by PPF
      is deprecated.
      </p>

      <p>
      If you're using Sunlight data and want to tell us about it, please
      contact us: <script type="text/javascript">m(<%= raw(Settings.contact_us_email.split(/[@.]/).push("1").map(&:to_json).join(',')) %>);</script>.
      </p>

      <%= render :partial => 'licensing_terms' %>

    </div><!-- left col -->
  </div>
</div>
