<div id="heading">
	<h2>OpenCongress RSS Feeds</h2>
  <p class="about-rss">
  OpenCongress offered at one time a variety of RSS feeds, outlined below, that help keep
  you in touch with the latest developments in Congress.
  </p>
</div>

<div class="padding" id="about-rss">

  <p>
    If you've reached this page then you're web crawling or were directed here by an old link somewhere. Apologies.
    We're in the process of deprecating RSS feeds. They may return in another form at a later date. Thank you for
    your understanding.
  </p>

</div>