<% @page_title = "Contact OpenCongress" %>
<style>
label, input[type=text] {
   float:none;
   display: inline-block;
   margin-bottom: 10px;
}
input[type=text] {
    width: 200px;
}
.control-label {
   width: 100px;
   /*text-align: right;*/
   margin-right:5px;
}
.control-label.required:after {
   content: "*";
   color:#900;
}
.button {
    margin-top: 20px;
   width:325px;
}
#content form { margin-left: 10px; }
</style>

<div id="heading">
<h2>Get In Touch!</h2>
</div>

<div class="container_16">

    <div class="row">

        <div class="grid_8 alpha">

            <p class="big">We're always interested in hearing from you&mdash;how you're using OpenCongress, how it could be a better public resource and any new features you'd like to see.</p>

            <p><strong>To send us general site feedback, ask a question or report a problem, please e-mail: <script type="text/javascript">m("writeus","opencongress","org","1");</script></strong>. You should receive an automated email reply right away from our customer support system, confirming your note has been delivered. Following that, our small-but-dedicated support team is typically able to respond in less than 48 hours.</p>

            <p><strong>Please note:</strong> We're aware that several features and pages haven't been working up to snuff recently. We're in the midst of a push to improve the site's data quality and user eperience.</p>

            <h3>Sign up to be notified when a better OpenCongress is ready:</h3>
            <%= render :partial => 'shared/email_subscribe_form' %>
            <br/>
            <p><strong>Developers</strong> are invited to join our non-profit team. OpenCongress is proud to be an open-source project&mdash;remixes encouraged!&mdash;in the community of free Web resources for civic engagement. All of our site code and site content can be checked out on our <a href="http://github.com/opencongress/opencongress">GitHub page</a>.</p>

            <br/>

            <h3>Stay in touch with OpenCongress:</h3>
            <ul class="star">
                <li>To sign up for general site updates over e-mail: <a href="http://crm.ppolitics.org">OpenCongress mailing list</a> (low-volume, major announcements only).</li>
                <li>To subscribe to blog updates via RSS: <a href="http://feeds.feedburner.com/OpenCongressCongressGossipBlog">RSS feed</a>.</li>
                <li>To sign up for detailed programming updates over e-mail: <a href="http://lists.ppolitics.org/listinfo.cgi/develop-ppolitics.org">PPF development list-serv</a>.</li>
                <li>To join an associated Google Group: <a href="http://groups.google.com/group/sunlightlabs">Sunlight Labs</a>, <a href="http://wiki.sunlightlabs.com/index.php/OpenCongress">Sunlight Wiki</a></li>
                <li>To check out our site code: <a href="http://github.com/opencongress/opencongress/tree/master">OpenCongress GitHub</a></li>
                <li>To file a bug report, interface improvement, data source, or feature suggestion: <a href="https://participatorypolitics.lighthouseapp.com/projects/35587-opencongress/overview">Lighthouse project homepage</a>.</li>
                <li>Social Networking: Join us on our <a href="http://www.google.com/url?q=http%3A%2F%2Fwww.facebook.com%2Fgroup.php%3Fgid%3D15201705550&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNHngqIHFY-mUhJw5iCs944Oio1NfA">Facebook Group</a> or follow us on Twitter: <a href="http://twitter.com/opencongress">@opencongress</a></li>
            </ul>

            <br />

            </div>

        </div>
    </div>
</div>