<% @page_title = "Contact OpenCongress" %>
<style>
label, input[type=text] {
   float:none;
   display: inline-block;
   margin-bottom: 10px;
}
input[type=text] {
    width: 200px;
}
.control-label {
   width: 100px;
   /*text-align: right;*/
   margin-right:5px;
}
.control-label.required:after {
   content: "*";
   color:#900;
}
.button {
    margin-top: 20px;
   width:325px;
}
#content form { margin-left: 10px; }
</style>

<div id="heading">
  <h2>Get In Touch!</h2>
</div>

<div class="container_16">
  <div class="row">
    <div class="grid_8 alpha">

      <p class="big">
      Please note: OpenCongress is not affiliated with any House or Senate
      office and cannot respond to comments on legislation. Please direct
      comments on legislation to
      <a href="<%= url_for(:controller => :people, :action => :zipcodelookup) %>">
        your elected official.
      </a>
      </p>

      <p>
      We'd love to hear from you. If you have a question about OpenCongress or
      would like to learn how to incorporate our data into your own work/apps,
      please drop us a line
      <script type="text/javascript">m(<%= raw(Settings.contact_us_email.split(/[@.]/).push("1").map(&:to_json).join(',')) %>);</script>
      and we'll do our best to get back to you right away.
      </p>


      <p>
      If you are a reporter and would like to interview Sunlight staff about
      OpenCongress, please call Sunlight’s Media Director Liz Bartolomeo at
      202-742-1520 ext. 226.
      </p>

      <br/>

    </div>
  </div>
</div>
