@import "application";
@import "prism";


// Sections

.section {
    @include make-row();
    @extend .cf;
    padding-top: $base-spacing-unit;
    padding-bottom: 50px;
    margin-top: $base-spacing-unit;
    margin-bottom: 50px;
    border-bottom: 1px dashed #ccc;

    &__header {
        @extend .beta;
        padding-bottom: $base-spacing-unit;
        text-align: center;
        text-transform: uppercase;
    }
    &--sub {
        @include make-row();
    }
}


// Code Block

.codeblock {
    @extend .section--sub;

    &__example {
        @include make-md-column(7);
    
        &--extend {
            @include make-xs-column(12);
        }
    }

    &__notes {
        @include make-md-column(5);
        font-size: $micro-size;
    }
}


// Swatch Template

%swatch {
    @include make-xs-column(6);
    @include make-sm-column(3);
    @include make-lg-column(2);
}


// Color Palette

.palette {
    @extend %swatch;
    margin-bottom: 15px;
    
    &__color,
    &__color--light  {
        @extend .nano-size;
        color: $white;
        height: 225px;
        padding: 20px;
    }

    &__color--light {
        color: $gray-dark;
    }

    &__details {
        bottom: 15px;
        position: absolute;
    }

    &__title {
        @extend .micro-size;
        @extend .semibold;
        display: block;
        margin-bottom: 15px;
    }

    &__label {
        @extend .light;
        opacity: 0.9;
    }

    &__label > span {
        display: inline-block;
        width: 45px;
    }
}



.logo {
    width: 290px;
    height: 50px;
}

.navbar {
    padding: 10px;
}

.navbar-brand {
    padding: 0;
}

.footer {
    background: #333;
    padding: 25px;
    color: #eee;
}

.margin-left {
    margin-left: 16px;
}
.show-grid {
    background: #ddd;
    padding: 16px;
}

.show-grid [class^=col-] div {
    background: #ccc;
    padding: 16px;
}

.layout{
    div {
        border: 1px solid #4E4E4E;
    }
}