<% unless committee.future_meetings.empty? -%>
  <div class="calendar_schedule">
    <h3>Meetings</h3>

    <ul class="calendar">
      <li class="heading">
      <span class="calendar_date">
        Date
      </span>
      <span class="calendar_summary">
        Summary
      </span>
      </li>

      <% committee.future_meetings.each do |comm| -%>
        <li>
        <span class="calendar_date">
          <%= comm.meeting_at.strftime('%b %d %I:%M %p') %>
          (<%= distance_of_time_in_words_to_now comm.meeting_at %>)
        </span>
        <span class="calendar_summary">
          <%= comm.subject %>
        </span>
        </li>
      <% end -%>
    </ul>
  </div>
<% end -%>
