<li class="committee">
<%= link_to committee.proper_name, :controller => 'committee', :action => 'show', :id => committee %>
</li>

<% committee.subcommittees.each do |subcommittee| %>
  <% if subcommittee.active %>
    <li class="subcommittee">
    <%= link_to subcommittee.subcommittee_name, :controller => 'committee', :action => 'show', :id => subcommittee %>
    </li>
  <% end %>
<% end %>
