<div id="heading">
<h2>Congressional Committees</h2>

<p>
Select a House or Senate committee to see membership related bills, and to track it on OpenCongress.
</p>

</div>
<% if defined? @carousel %>
  <%= render :partial => 'committee/carousel' %>
<% end %>
<div class="clearfix">
  <%= render :partial => 'sort_committees', :locals => { :sort => :all } %>
</div>

<ul id="house">
 <li>
  <h3>House Committees</h3>
  <ul class="list">
      <%= render(:partial => 'committees_list',
                 :as => :committee,
                 :collection => @house_committees ) %>
  </ul>
 </li>
</ul>

<ul id="senate">
<li>
  <h3>Senate Committees</h3>
  <ul class="list">
      <%= render(:partial => 'committees_list',
                 :as => :committee,
                 :collection => @senate_committees ) %>
  </ul>
</li>
</ul>
