<div id="heading">
<h2>Congressional Committees</h2>
</div>
<% if @carousel %>
  <%= render :partial => 'committee/carousel' %>
<% end %>
<%= render :partial => 'sort_committees', :locals => { :sort => :all } %>

<ul id="house">
 <li>
  <h3>House Committees</h3>
  <ul class="list">
      <%= render(:partial => 'committees_list',
                 :as => :committee,
                 :collection => @house_committees ) %>
  </ul>
 </li>
</ul>

<ul id="senate">
<li>
  <h3>Senate Committees</h3>
  <ul class="list">
      <%= render(:partial => 'committees_list',
                 :as => :committee,
                 :collection => @senate_committees ) %>
  </ul>
</li>
</ul>
