<div id="heading">
  <h2><%= @user.login.possessive %> Download Page</h2>
</div>
<div class="container_12">
  <div class="space">&nbsp;</div>
  <div class="grid_12">
    <div id="the-items">
      <div style="padding-bottom:30px;">
        <% if @user == current_user %>
            <p>
              Below you will find download links for all the data that you have associated with your account such
              as comments, tracked items, and letters to representative. The files are in CSV format so you should
              be able to open them with your favorite spreadsheet software. Please let us know if you have any
              difficulties or questions regarding these files.
            </p>

            <br />

            <div>
              <%= link_to 'Download your tracked items', user_items_tracked_path(current_user.login, format: :csv), class: 'no-margin alert btn' %>
            </div>

            <div class="what-line"></div>
            <br />

            <div>
              <%= link_to 'Download My Political Notebook', political_notebook_path(format: :csv), class: 'no-margin alert btn' %>
            </div>

            <div class="what-line"></div>
            <br />

            <div>
              <%= link_to 'Download your letters to Congress', all_congress_letters_contact_congress_letters_path(format: :csv), class: 'no-margin alert btn' %>
            </div>

        <% else %>

        <% end %>
        <br />
      </div>




    </div> <!-- // the-items -->
  </div> <!-- // profile_content -->
</div>
