<!--
    <div class="footer_border">
    </div>
-->

<div class="footer-wrapper-old">
    <div id="footerstars_wrapper">
        <div class="footer_contentwrapper bootstrap-enabled">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span6">
                        <h3>
                            <a id="oc-logo-small" class="hide-text" href="/">OpenCongress</a>
                        </h3>
                        <p>OpenCongress allows anyone to follow legislation in Congress, from bill introduction to floor vote. Learn more about issues you care about and connect with others who share similar views.
                           OpenCongress was founded by the Participatory Politics Foundation in 2007 and operated as a joint project with the Sunlight Foundation until May 2013.</p>
                        <%#= OpenCongress is also <a href="https://github.com/sunlightlabs/opencongress">open source</a>. <a href="/about">Get more information about the data powering the site</a> %>
                        <p class="time">OpenCongress' data was updated <%= time_ago_in_words(@updated_at) %> ago.</p>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="span5">
                                    <ul class="unstyled">
                                        <li><%= link_to 'About OpenCongress', { :controller => 'about' },
                                            { :title => "Find out more about who and what is Open Congress" } %></li>
                                        <li><a href="/howtouse">User's Guide</a></li>
                                        <li><a href="/terms">Terms &amp; Privacy</a></li>
                                    </ul>
                                </div>
                                <div class="span4">
                                    <ul class="unstyled">
                                        <li><a href="/search">Search</a></li>
                                        <li><a href="/contact/">Contact Us</a></li>
                                    </ul>
                                </div>
                                <div class="span3">
                                    <ul class="unstyled">
                                        <li><%= link_to 'Resources', :controller => 'resources' %></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span6 border-left">
                        <h3>
                            <a id="sf-logo-small" class="hide-text" href="http://www.sunlightfoundation.com">Sunlight Foundation</a>
                        </h3>
                        <p>Founded in 2006, the Sunlight Foundation is a nonpartisan nonprofit that advocates for open government globally and uses technology to make government more accountable to all. Visit <a href="http://sunlightfoundation.com">SunlightFoundation.com</a> to learn more.</p>
                        <div class="sign_up">
                        <h4>Like this project and want to discover others like it?</h4>
                        <span class="tip">Join the Sunlight Foundation's open government community to learn more.</span>
                        <form action="/subscribe.json" method="post" id="sfapp-subscribe-form" class="form-inline">
                            <div style='display:none'><input type='hidden' name='csrfmiddlewaretoken' value='8LsIjevc2XbY7Grk4KlrYkIlXz72J7nV' /></div>
                            <input type="hidden" name="response" value="json">
                            <input class="signUpEmail" type="text" name="email" placeholder="Email Address">
                            <input class="signUpZip" type="text" name="zipcode" placeholder="Zip Code">
                            <button type="submit" class="btn btn-sunlight">Sign Up</button>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- // end subfoot -->
