<ul class='nav  nav-horizontal'>
  <li><a href="#">Issues</a></li>
  <li><a href="#">Bills</a></li>
  <li><a href="#">House</a></li>
  <li><a href="#">Senate</a></li>
  <li><a href="#">Committees</a></li>
</ul>
<hr class="no-margin">