<div class="pure-g">
  <h1 class="pure-u-1-1  pure-u-md-2-3">OpenCongress</h1>
  <div class="pure-u-1-1  pure-u-md-1-3">
    <% if logged_in? %>
      <img src="/cspeisman_ro.jpg" class="icon  float-right">
    <% else %>
      <a href="#" class="button">Create an Account</a>
      <a href="#" class="button">Sign In</a>
    <% end %>
  </div>
</div>
<hr class="no-margin">