<div class='grid'>
  <h1 class="cell  medium-and-up-two-thirds">OpenCongress</h1>
  <div class="cell  small-one-whole medium-and-up-one-third">
    <% if !logged_in? %>
        <img src="/cspeisman_ro.jpg" class="icon  small-one-half  float-right">
    <% else %>
      <a href="#" class="button  button-blue  small-one-whole">Create an Account</a>
      <a href="#" class="button  button-blue small-one-whole">Sign In</a>
    <% end %>
  </div>
</div>
<hr class="no-margin">

<div></div>