<div class="sunlight_bar brandingbar bootstrap-enabled" data-bb-brandingbar="true">
    <div class="contentWrapper">
        <div class="span8">
            <a class="social" href="https://www.facebook.com/sunlightfoundation"><span class="icon icon-facebook"></span></a>
            <a class="social" href="https://twitter.com/sunfoundation"><span class="icon icon-twitter"></span></a>
            <a class="social" href="https://plus.google.com/+sunlightfoundation"><span class="icon icon-google-plus"></span></a>
            <a class="branding-bar_trigger" data-bb-toggle=".bb_wrapper" href="http://sunlightfoundation.com/about/">About Sunlight Foundation</a>
        </div>
        <div class="span4">
            <a class="productOf" href="http://sunlightfoundation.com">a product of Sunlight Foundation</a>
        </div>
    </div>
</div>
