<!DOCTYPE html>
<html>
<head>
    <title>OpenCongress</title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <script src="http://use.typekit.net/cuo6nsj.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
</head>

<body>
    <header class="masthead">
        <div class="masthead__header">
            <div class="masthead__brand">
                <a href="/">
                    <h1 class="sr-only">OpenCongress</h1>
                    <img class="logo" alt="OpenCongress Logo" src="<%= image_path('opencongress_logo.svg') %>">
                </a>
            </div>
            <div class="masthead__actions">
                <button class="button__signup">Sign Up</button>
                <button class="button__login">Log In</button>
            </div>
        </div>
    </header>


    <main class="container">
        <%= yield %>
    </main>

    <footer class="footer">
        <div class="container">
            OpenCongress is built by Sunlight Foundation and powered by open data. Learn more below.
            <br>
            <span class="glyphicon glyphicon-chevron-down"></span>
        </div>
    </footer>

</body>
</html>