<!DOCTYPE html>
<html>
<head>
  <title>yolo</title>
  <%= stylesheet_link_tag "application" %>
  <link rel="stylesheet" type="text/css" href="/static/pattern-library/public/style.css">
  <script src="http://use.typekit.net/cuo6nsj.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Pattern Library</a>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/globals">Globals</a></li>
          <li><a href="#">Forms</a></li>
          <li><a href="#">Cards</a></li>
          <li><a href="#">Navigation</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <%= yield %>
</body>
</html>